.Earth {
    margin-top: -2rem;
    margin-left: -1rem;
  }
  
  
  .loading-indicator {
    color: #ffffff;
  }
  
  .heading {
    color: #ffffff;
    font-size: 3.5rem;
    display: inline;
    position: relative;
    left: 24rem;
    top: 2.5rem;
    pointer-events: none;
  }
  
  .button-container {
    position: relative;
    width: auto;
    z-index: 1000;
    left: -8rem;
    top: 50rem;
  }
  
  @media (-webkit-device-pixel-ratio: 1.25) {
    .button-container {
      position: relative;
      width: auto;
      z-index: 1000;
      left: -20rem;
      top: 40rem;
    }
  }
  
  .op_button {
    position: absolute;
    display: inline-block;
    width: 181px;
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-weight: 800;
    scale: 1.3;
  }
  
  .op_button:hover {
    background: #ffffff;
    color: black;
    box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff, 0 0 200px #ffffff;
  }
  
  .op_button:nth-child(1) {
    filter: hue-rotate(270deg);
  }
  
  .op_button:nth-child(2) {
    filter: hue-rotate(110deg);
  }
  
  .op_button span {
    position: absolute;
    display: block;
  }
  
  .op_button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: animate1 1s linear infinite;
  }
  
  @keyframes animate1 {
    0% {
      left: -100%;
    }
  
    50%,
    100% {
      left: 100%;
    }
  }
  
  .op_button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes animate2 {
    0% {
      top: -100%;
    }
  
    50%,
    100% {
      top: 100%;
    }
  }
  
  .op_button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes animate3 {
    0% {
      right: -100%;
    }
  
    50%,
    100% {
      right: 100%;
    }
  }
  
  .op_button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
  
    50%,
    100% {
      bottom: 100%;
    }
  }
  
  
  .eloader {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 30%, #e5f403);
    animation: loader 2s linear infinite;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
      filter: hue-rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
  
  .eloader:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
  }
  
  .eloader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, transparent, transparent 30%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
  }